body,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.container-fluid{
    padding: 0px !important;
}

.navbar{
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    padding: 5px;
    width: 100%;
    height: 6vh;
    background-color: #333;
    align-items:center;
/*    position: fixed;*/
    justify-content: flex-end;
    z-index: 1;
    transform: translateZ(0);
    flex-wrap: wrap;
    margin-bottom: 0px;
}

.navbar input{
    width: 200px;
    height: 35px;
    background-color: #3e4246;
    color: white;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    margin-right: 50px;
}
.logo{
  width: 4%;
  height: 100%;
  margin-left: 10%;
  margin-right: 20px;
  background-color: red;
}
.cart{
  width: 175px;
  height: 100%;
  color: white;
  margin-right: 5%;
  background-color: #3c3c3c;
  position: relative;
  cursor: pointer;
}
.cart span{
  font-size: 25px;
  position: absolute;
  top: 25%;
  left: 10px;
}
.cart p{
  word-spacing: 2px;
  word-wrap: normal;
  position: absolute;
  font-size: 10px;
  left: 50%;
  transform: translateX(-40%);
}
.total{
  position: absolute;
  top: 35%;
  font-size: 15px !important;
}
#products,#currency{
    min-width: 60px;
    background: transparent;
    color: white;
    outline: none;
    border: none;
    margin-right: auto;
}
#currency{
  margin-right: 70px;
}
.navbar option{
    background-color: #333;
    outline: none;
    border: 1px solid black;
}
#carousel{
    width: 100%;
    height: 70vh;
    margin-bottom: 0px;
}
#carousel img{
  margin: 0 auto;
}
.middle{
    height: 100px;
    background-color: #f4f1f1;
    position: relative;
}
.middle h2{
    position: absolute;
    letter-spacing: 2px;
    font-family: sans-serif;
    top: 15px;
    left: 5%;
}

.middle h2:before{
    content: "|";
    margin-right: 1vw;
    font-size: 45px;
    color: red;
}

.middle input[type='button']{
    position: absolute;
    width: 200px;
    height: 40px;
    right:15%;
    top: 30px;
    background-color: red;
    outline: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.checkbtn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 15%;
    position: absolute;
    top: 40px;
    right: 30%;
}
