body,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.container-fluid{
    padding: 0px !important;
}

.navbar{
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    padding: 5px;
    width: 100%;
    height: 6vh;
    background-color: #333;
    align-items:center;
    position: fixed;
    justify-content: flex-end;
    z-index: 1;
    transform: translateZ(0);
    flex-wrap: wrap;
    margin-bottom: 0px;
}

.navbar input{
    width: 200px;
    height: 35px;
    background-color: #3e4246;
    color: white;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    margin-right: 50px;
    position: relative;
}

.logo{
  width: 4%;
  height: 100%;
  margin-left: 10%;
  margin-right: 20px;
  background-color: red;
}
.cart{
  width: 175px;
  height: 100%;
  color: white;
  margin-right: 5%;
  background-color: #3c3c3c;
  position: relative;
  cursor: pointer;
}
.cart span{
  font-size: 25px;
  position: absolute;
  top: 25%;
  left: 10px;
}
.cart p{
  word-spacing: 2px;
  word-wrap: normal;
  position: absolute;
  font-size: 10px;
  left: 50%;
  transform: translateX(-40%);
}
.total{
  position: absolute;
  top: 35%;
  font-size: 15px !important;
}
#products,#currency{
    min-width: 60px;
    background: transparent;
    color: white;
    outline: none;
    border: none;
    margin-right: auto;
}
#currency{
  margin-right: 70px;
}
.navbar option{
    background-color: #333;
    outline: none;
    border: 1px solid black;
}
#carousel{
    width: 100%;
    height: 80vh;
    margin-bottom: 0px;
    margin-top: 6vh;
    position: relative;
}
/*.slick-dots{
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
}
.slick-dots li button:before
{
  font-size: 40px;
  line-height: 20px;
}*/
.left {
  position: absolute;
  left: 5%;
  top: 50%;
  font-size: 50px;
  transform: translateY(-50%);
  z-index: 2;
  color: white;
  cursor: pointer;
}
.right{
  cursor: pointer;
  position: absolute;
  right: 5%;
  top: 50%;
  font-size: 50px;
  color: white;
  transform: translateY(-50%);
  z-index: 2;
}
#carousel img{
  margin: 0 auto;
}
.middle{
    height: 100px;
    background-color: #f4f1f1;
    position: relative;
}
.middle h2{
    position: absolute;
    letter-spacing: 2px;
    font-family: sans-serif;
    top: 15px;
    left: 5%;
}

.middle h2:before{
    content: "|";
    margin-right: 1vw;
    font-size: 45px;
    color: red;
}

.middle input[type='button']{
    position: absolute;
    width: 200px;
    height: 40px;
    right:15%;
    top: 30px;
    background-color: red;
    outline: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.checkbtn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 18%;
    position: absolute;
    top: 40px;
    right: 30%;
}

.productCat{
  margin: 10px 50px;
  padding: 10px 0px 10px 50px;
}

.productItem{
  height: 400px;
  width: 350px;
  margin: 0 auto;
  display: inline-block;
  cursor: pointer;
  /*border: 10px solid #f4f1f1;*/
  position: relative;
  transition: 0.3s ease-in-out;
}
.effect8
{
  	position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect8:before, .effect8:after
{
	content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.effect8:after
{
	  right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
    -moz-transform:skew(8deg) rotate(3deg);
    -ms-transform:skew(8deg) rotate(3deg);
    -o-transform:skew(8deg) rotate(3deg);
    transform:skew(8deg) rotate(3deg);
}
.productItem img{
  width: 100%;
  height: 70%;
}
.wrapper{
  margin: 0 auto;
}
.productItem p{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 75%;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.productItem span{
  background-color: #f4f1f1;
  color: black;
}
.productItem button{
  position: absolute;
  top: 85%;
  left: 50%;
  width: 35%;
  height: 10%;
  transform: translateX(-50%);
  background-color: white;
  border: 2px solid #f4f1f1;
  transition: 0.3s ease-in-out;
}

.mrp{
  width: 100%;
  height: 20%;
  background-color: #f4f1f1;
}

.productItem button:hover{
  background-color: #de302f;
  color: white;
  border: 2px solid white;
}
